.margine {
    margin: 10px;
    padding: 10px;
    align-self: start;
}

.rowButtons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.limitWidth {
    width: 150px;
    text-align: justify;
}