@if(item$ | async; as item)
{
<div class="itempage">
    <mat-card appearance="outlined" class="margine">
        <div class="rowCards">
            <mat-card appearance="outlined" class="margine">
                <mat-card-header>
                    <h1>{{item.name}}</h1>
                </mat-card-header>
                <img mat-card-image [src]="api+'/'+item.image" class="itemImage">
                <div class="itemPrice">
                    <h2>{{item.price}} RSD</h2>
                    @if(loggedIn$ | async) {
                    <button matButton="filled" class="margine" (click)="addItemToProject(item.id)">Add to project</button>
                    }
                </div>
            </mat-card>

            <div class="itemTable">
                <mat-card appearance="outlined" class="margine">

                    <table mat-table [dataSource]="tableData$" class="mat-elevation-z8">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>
                                <h2>Properties</h2>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.propertyName}}</td>
                        </ng-container>

                        <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">{{element.value}}</td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </mat-card>
            </div>

        </div>
        <div>
            <h1>Comments</h1>
            @if(loggedIn$ | async) {
            <div class="rowCards">
                <mat-form-field class="maxWidthHeight">
                    <mat-label>Your comment</mat-label>
                    <input matInput [(ngModel)]="comment">
                </mat-form-field>
                <button matButton="filled" class="margine" (click)="addComment()">Add comment</button>
            </div>
            }
            @if(comments$ | async; as comments) {
            @for(c of comments; track c.id) {
            <mat-card class="komentarCard">
                <div class="komentar">
                    <p class="margine">@{{c.username}}</p>
                    <p>{{c.content}}</p>
                    <p class="date">{{c.createdAt | date:'dd.MM.yyyy HH:mm'}}</p>
                    @if(loggedIn$ | async) {
                    <button matButton class="margine" (click)="reportComment(c.id)">Report comment</button>
                    }
                </div>
            </mat-card>
            }
            }
        </div>
    </mat-card>
</div>
}