<div class="moderatorPanel">
    <mat-card appearance="outlined" class="margine">
        <h1 class="title">Moderator panel</h1>
        @if(comments$ | async; as comments) {
        @if(comments.length == 0) {
        <h1>No reported comments</h1>
        }
        @for(c of comments; track c.id) {
        <mat-card appearance="outlined" class="margine">
            <div class="komentar">
                <h2>{{c.username}}</h2>
                <h2>{{c.content}}</h2>
                <h2>{{c.createdAt | date:'dd.MM.yyyy HH:mm'}}</h2>
                <button matButton="filled" class="margine" (click)="unreportComment(c.id)">Allow comment</button>
                <button matButton="filled" class="margine" (click)="deleteComment(c.id)">Delete comment</button>
            </div>
        </mat-card>
        }
        }
    </mat-card>
</div>