.margine {
    margin: 10px;
    padding: 10px;
    flex: 1;
    align-self: center;
}

.list {
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-self: flex-start;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.skrol {
    overflow-y: scroll;
}