@if(combined$ | async; as data)
{
<div class="homepage">
    <mat-grid-list cols="5" [rowHeight]="appBodyHeight">
        <mat-grid-tile colspan="1">
            <div class="itemSearch">
                <mat-card appearance="outlined" class="margine">

                    <mat-form-field>
                        <mat-label>Search by name</mat-label>
                        <input matInput [(ngModel)]="searchQuery">
                        <button mat-icon-button matSuffix (click)="onSearch()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-card-title>Select categories</mat-card-title>
                    <mat-selection-list #categorySelectionList
                        (selectionChange)="onFilterSelection(categorySelectionList)">
                        @for (c of data.categories; track c.id) {
                        <mat-list-option [value]="c.id">{{c.name}}</mat-list-option>
                        }
                    </mat-selection-list>

                    <div class="rowCards">
                        <button matButton="filled" (click)="onResetFilter()">Reset</button>
                        <button matButton="filled" (click)="onApplyFilter()">Apply</button>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" class="skrol">
            <div class="maxWidthHeight">
                <mat-grid-list cols="4" [rowHeight]="rowHeight">
                    @for(i of data.items; track i.id)
                    {
                    <mat-grid-tile>

                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>{{i.name}}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image [src]="api+'/'+i.image" class="limitWidth">
                            <mat-card-content>
                                <p>{{i.price}} RSD</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button matButton="filled" routerLink="item/{{i.id}}">View item</button>
                            </mat-card-actions>
                        </mat-card>

                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
}