.userpanel {
    width: 75%;
    height: 90%;
    padding: 10px;
    font-weight: 500;
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
}

@media (max-width: 1600px) {
    .userpanel {
        width: 90%;
        justify-self: center;
    }
}

.panelCard {
    height: 100%;
}
.logOutHeader {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.userCard {
    width: 20%;
    margin: 10px;
    padding: 10px;
    align-items: start;
}

h1 {
    padding-right: 10px;
}

.username {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.userDashboard {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.columnButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projekti {
    padding: 10px;
}

button {
    margin: 5px;
}

.projectButton {
    flex: 1;
}