<div class="userpanel">
    <mat-card appearance="outlined" class="panelCard">
        <div class="rowCards">
            <mat-card appearance="outlined" class="userCard">
                <h1>
                    {{username}}
                </h1>

                <p>E-mail: {{email}}</p>

                <div class="columnButtons">
                    @if(role == 'admin') {
                    <button matButton="outlined" (click)="navToAdminPanel()">Admin panel</button>
                    }
                    @if(role == 'admin' || role == 'moderator') {
                    <button matButton="outlined" (click)="navToModeratorPanel()">Moderator panel</button>
                    }
                    <button matButton="filled" (click)="createProject()">Create project</button>
                </div>
            </mat-card>
            <div class="userDashboard">
                <div class="logOutHeader">
                    <button matButton="filled" (click)="logout()">Log out</button>
                    <h1>My projects</h1>
                </div>
                <div>
                    @if(projects$ | async; as projects ) {
                    <mat-card appearance="outlined" class="projekti">
                        @for(p of projects; track p.id) {
                        <h2>{{p.name}}</h2>
                        }
                    </mat-card>
                    }
                </div>
                <h1>My receipts</h1>
                <div>TODO: Prikaz liste racuna</div>
            </div>
        </div>
    </mat-card>
</div>