@if(combined$ | async; as data) {
<h1 class="title">Admin panel</h1>
<div>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Category options">
            <categoryoptions [categories]="data.categories"></categoryoptions>
        </mat-tab>
        <mat-tab label="Item options">
            <itemoptions [categories]="data.categories" [items]="data.items"></itemoptions>
        </mat-tab>
        <!-- <mat-tab label="Item compatibility rules">
            <mat-card appearance="outlined" class="margine">
                <div class="opcija">
                    <mat-form-field class="margine">
                        <mat-label>Category 1</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="margine">
                        <mat-label>Prop 1</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="margine">
                        <mat-label>RelOp</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="margine">
                        <mat-label>Category 2</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="margine">
                        <mat-label>Prop 2</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button matButton="filled" class="margine">Add rule</button>
                </div>
            </mat-card>
        </mat-tab> -->
    </mat-tab-group>
</div>
}