.title{
    font-size: 300%;
}

.margine{
    margin:10px;
    padding: 10px;
    flex: 1;
    align-self: center;
}

.opcija{
    padding: 10px;
    font-weight: 500;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
}