.title{
    font-size: 300%;
    text-align: center;
}

.margine{
    margin:10px;
    padding: 10px;
    flex: 1;
    align-self: center;
}

.opcija{
    padding: 10px;
    font-weight: 500;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
}

.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 5px;
    margin: 5px;
    border-radius:5px;
}

.skrol{
  overflow-y: scroll;
}

.rowCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}