.logo {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #E0E2EB;
}

.logo h1 {
  margin: 0;
  font-size: 400%;
  font-weight: bold;
  padding-right: 20px;
  flex: 0 0 auto;
  user-select: none;
  cursor: pointer;
}

nav[mat-tab-nav-bar] {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav[mat-tab-nav-bar] a[mat-tab-link] {
  flex: 1 1 auto;
  text-align: center;
  text-decoration: none;
  font-size: 200%;
}

.app-root {
  margin: 20px;
}

h1 {
  font-size: 400%;
  font-weight: bold;
  background: linear-gradient(90deg, #E5165A, #DD2BAD, #992BF8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  display: inline-block;
  line-height: 1.3;
  padding: 0.2em 0;
  margin: 0;
  margin-left: 20px;
}