.item{
    padding: 10px;
    font-weight: 500;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 100%;
}

.rowButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}