.margine {
    margin: 10px;
    padding: 10px;
}

.rowButtons {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.editTable {
    flex: 2;
    margin: 10px;
    padding: 10px;
}

.editImage {
    flex: 1;
    margin: 10px;
    padding: 10px;
    align-items: flex-start;
    justify-content: space-between;
}
